.aside-footer__mail {
    margin: 16px 0 12px;
    display: block;
    width: 120px;
}

.aside-footer__tel {
    font-family: "TT Lakes bold";
    font-size: 24px;
    line-height: 32px;
    display: block;
    width: 210px;
}

.aside-footer__footer-languages {
    margin-top: 40px;
}