.aside-footer-buttons__button {
    margin-right: 16px;
    width: 40px;
    height: 40px;
}

.aside-footer-buttons__button:hover {
    border-radius: 50%;
    box-shadow: 5px 5px 10px 0px rgba(34, 60, 80, 0.5);
}