@import "../main/main-menu.scss";
@import "../main/info-text.scss";
@import "../main/info.scss";


.main__title {
    font-family: "TT Lakes bold";
    font-size: 28px;
    line-height: 40px;
}

.main {
    max-width: 1120px;
    margin: auto;
}

@media screen and (min-width:320px) and (max-width:767px) {
    .main__title--hidden {
        display: none;
    }

    .main__title {
        display: block;
        margin-top: 24px;
        font-family: "TT Lakes bold";
        font-size: 28px;
        line-height: 40px;
    }

    .main {
        background-color: #F8F8F8;
        border-top: 1px solid #D9FFF5;;
    }

    .main__title::before {
        content: "";
        display: inline-block;
        background: #41F6D7;
        border-radius: 2px;
        width: 3px;
        height: 40px;
        margin-right: 20px; 
        position: relative;
        top: 10px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    .main__main-menu {
        margin: 24px 0 0 16px;
    }

    .main__info {
        padding-bottom: 35px;
    }
}

@media screen and (min-width:768px) and (max-width:1119px) {
    .main__title--hidden {
        display: none;
    }

    .main {
        background-color: #F8F8F8;
        border-top: 1px solid #D9FFF5;;
    }

    .main__title {
        display: block;
        margin-top: 24px;
        font-family: "TT Lakes bold";
        font-size: 28px;
        line-height: 40px;
    }

    .main__title::before {
        content: "";
        display: inline-block;
        background: #41F6D7;
        border-radius: 2px;
        width: 3px;
        height: 40px;
        margin-right: 20px; 
        position: relative;
        top: 10px;
    }

    .main__main-menu {
        margin: 24px 0 0 16px;
    }

    .main-menu__item {
        padding: 8px 10px;
        @include text;
        border: 2px solid #F8F8F8;
        list-style-type: none;
    }

    .main-menu__item:hover {
        background-color: #FFFFFF;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
    }
    .main__info {
        margin: 0 auto;
        display: flex;
        padding-bottom: 40px;
    }
}

@media screen and (min-width:1120px) {
    .main {
        max-width: 1120px;
        margin: 0 auto;
    }

    .main__title--hidden {
        display: none;
    }

    .main__main-menu {
        margin: 24px 0 0 16px;
    }

    .main__info{
        margin-bottom: 50px;
    }
}