.order__btn{
    background: #FF3E79;
    border-radius: 16px;
    font-family: "TT Lakes bold";
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 120px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}